<div class="banner" style="background-image: url('<%= image_path('banner.png') %>');">
  <div class="container">
    <h1>Bo to Bo* !!</h1>
    <h2>Shake your health !</h2>
     <p>* Bouge ton boule</p>
      <div class="banner-text" style="margin-top: 30px" >
        <% if user_signed_in? %>
          <div class="banner-buttons">
            <a href="/exercices" class="btn btn-primary">Découvrir les exercices</a>
            <a href="/exercices/new" class="btn btn-secondary">Créer un exercice</a>
            <a href="/subscription/new" class="btn btn-primary">Lance toi !</a>
          </div>
        <% else %>
          <div class="banner-buttons">
            <a href="/users/sign_up" class="btn btn-primary">S'inscrire</a>
            <a href="/users/sign_in" class="btn btn-secondary">Se connecter</a>
          </div>
        <% end %>
    </div>
  </div>
</div>
<div class="container" style="text-align: center"><h3>3 bonnes raisons de commencer à Bo to Bo :</h3></div>




<div class="container">
  <div class="row card-container">
    <!-- Card 1 -->
    <div class="col-md-4">
      <div class="card-product">
        <!-- Point de couleur -->
          <div class="color-circles">
          <div class="color-circle" style="background: #2a9d8fff;"></div>
          <div class="color-circle" style="background: #e9c46aff;"></div>
          <div class="color-circle" style="background: #f4a261ff;"></div>
          <div class="color-circle" style="background: #e76f51ff;"></div>
        </div>
        <%= image_tag("homme.png") %>
        <div class="card-product-infos">
          <!-- Titre et description -->
          <h2>Booster votre forme </h2>
          <p>Votre description ici...</p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-4">
      <div class="card-product">
        <!-- Point de couleur -->
        <div class="color-circles">
          <div class="color-circle" style="background: #2a9d8fff;"></div>
          <div class="color-circle" style="background: #e9c46aff;"></div>
          <div class="color-circle" style="background: #f4a261ff;"></div>
          <div class="color-circle" style="background: #e76f51ff;"></div>
        </div>
        <div class="color-point"></div>
        <%= image_tag("mental.jpg") %>
        <div class="card-product-infos">
          <!-- Titre et description -->
          <h2>Sharper votre mental</h2>
          <p>Votre description ici...</p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-4">
      <div class="card-product">
        <!-- Point de couleur -->
        <div class="color-circles">
          <div class="color-circle" style="background: #2a9d8fff;"></div>
          <div class="color-circle" style="background: #e9c46aff;"></div>
          <div class="color-circle" style="background: #f4a261ff;"></div>
          <div class="color-circle" style="background: #e76f51ff;"></div>
        </div>
        <div class="color-point"></div>
        <%= image_tag("health.jpg") %>
        <div class="card-product-infos">
          <!-- Titre et description -->
          <h2>Rester en santé</h2>
          <p>Votre description ici...</p>
        </div>
      </div>

    </div>
  </div>
</div>
