<div class="banner">
  <div class="container">
  <h1>Bo to Bo !!</h1>
  <%= image_tag "banner.png", height: "400px" %>
    <h2>Shake your health !</h2>
  </div>

  <div class="banner-text" background-color= "#2a9d8fff">
    <% if user_signed_in? %>
      <div class="banner-buttons">
        <a href="/exercices" class="btn btn-primary">Découvrir les exercices</a>
        <a href="/exercices/new" class="btn btn-secondary">Créer un exercice</a>
        <a href="/subscription/new" class="btn btn-primary">Lance toi !</a>
      </div>
    <% else %>
      <div class="banner-buttons">
        <a href="/users/sign_up" class="btn btn-primary">S'inscrire</a>
        <a href="/users/sign_in" class="btn btn-secondary">Se connecter</a>
      </div>
    <% end %>
  </div>
</div>
