<div class="container">
  <div class="row">
    <h1>Découvres des exercices adaptés à ton envie de Botobo !</h1>
      <ul><% @exercices.each do |exercice| %>
        <li><%= link_to exercice.name, exercice_path(exercice) %></li>
          <% end %> </ul>

  </div>
    <a href="/exercices/new" class="btn btn-secondary">Crée un exercice</a>
</div>
