<div class="container mt-4">
   <div class="row">
    <div class="col">
      <h3><%= @exercice.name %></h3>
      <div class="text-center">
        <div class="row justify-content-evenly">
          <div class="col-4">
            <p><i class="fa-sharp fa-solid fa-house"></i> <%= @exercice.description %></p>
          </div>
          <div class="col-4">
            <p><i class="fa-solid fa-bed"></i> <%= @exercice.duration %> </p>
          </div>
          <%= link_to "Back to all exercices", exercice_path %>
        </div>
      </div>
    </div>
